.*
!.github
!.run
!.editorconfig
!.gitignore
!.gitkeep

*.egg-info
__pycache__
/dist/
/build/
/coverage.*
*.orig

# This is a library, not an application, so don't add the lock file into the repository:
uv.lock
